# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Test and coverage
.pytest_cache/
.coverage
htmlcov/